{% extends 'layouts/application.html' %} 

{% block content %}
<div class="row">
  <div class="col">
    <h1>Crear una cuenta</h1>
    <form method="POST">
      {% csrf_token %}
      {% comment %} <div class="form-group">
        {{ form.username.label_tag }}
        {{ form.username }}
      </div>
      <div class="form-group">
        {{ form.email.label_tag }}
        {{ form.email }}
      </div>
      <div class="form-group">
        {{ form.password.label_tag }}
        {{ form.password }}
      </div> {% endcomment %}
      {% for field in form %}
        <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
          {% if field.errors %}
            <div class="alert alert-danger">
              {{ field.errors }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
  </div>
</div>
{% endblock content %}
